*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
{
    border: 2px solid black;
    height: 3em;
}
body{
    width: 1000px;
    margin: auto;
}
table{
    width: 90%;
    margin: auto;
    margin-top: 60px;
}
