*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: auto;
}
button{
        height: 2em;
        background-color: white;
        width: 14.27%;
}
table{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    background-color: blue;
}
td{
    border: 2px solid black;
    height: 5em;
    border-radius: 50%;
    background-color: white;

}

.rouge {
    background-color: red;
}

.jaune{
    background-color: yellow;
}
